.navbar {
    display: flex;
    height: 60px;
    justify-content: space-around;
    background: rgb(13, 78, 104);
    align-items: center;
    position: fixed;
    width: 100%;
}

.navbar__links {
    display: flex;
    flex: 0 1 80%;
    padding: 5px;
    justify-content: center;
}

.navbar__link {
    margin: 0 5px;
    color: rgb(255, 255, 255);
    align-items: center;
    display: flex;

}

.navbar__link:hover {
    text-decoration: underline;
}

.button {
    display: flex;
    flex: 0 1 20%;
    align-items: center;
    cursor: pointer;
}


@media screen and (max-width: 800px) {
    .burger_btn {
        position: relative;
        width: 20px;
        height: 25px;
        z-index: 50;
    }

    .burger_btn:before {
        content: '';
        position: absolute;
        top: 0px;
        width: 20px;
        height: 2px;
        background-color: black;
    }

    .burger_btn span {
        position: absolute;
        top: 10px;
        width: 20px;
        height: 2px;
        background-color: black;
    }

    .burger_btn:after {
        content: '';
        position: absolute;
        bottom: 2px;
        width: 20px;
        height: 2px;
        background-color: black;
    }

        .navbar__link {
            display: none;
        }
}