.App {
  text-align: center;  
}

a {
  text-decoration: none;
  color: inherit;
}

* {
  padding: 0;  
  margin: 0;  
  box-sizing: border-box;  
  line-height: 1;
  font-family: Rubik;
}


/* .blur {
  background: rgba(255, 255, 255, .9);
} */

.wrapper {
  padding-top: 70px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
